html, body {
    justify-content: center;
    height: 100%;
    }
    body, div, h1, form, input, p, textarea, select, a { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    }
    h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    }
    p {
    font-size: 12px;
    }
    hr {
    color: #a9a9a9;
    opacity: 0.3;
    }
    .container {
        width:100%;
        
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .links {
        width:100%;
        padding-left: 3rem;
    }

    .data-block {
        display:inline-block;
        margin: 0 auto;
        text-align: left;
    }
    .main-block {
        text-align: left;
        display:inline-block;
        margin: 0 auto;
        padding: 10px 0;
        margin: 1rem;
        border-radius: 5px; 
        border: solid 1px #ccc;
        box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
        background: #ebebeb; 
    }
    form {
    margin: 0 30px;
    }
    .account-type, .gender {
    margin: 15px 0;
    }
    input[type=radio] {
    display: none;
    }
    label#icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
    }
    label.radio {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    margin-right: 20px;
    text-indent: 30px;
    overflow: visible;
    cursor: pointer;
    }
    label.radio:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1c87c9;
    }
    label.radio:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 8px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after {
    opacity: 1;
    }

    textarea{
        width: calc(100% - 24px);
        height: 140px;
        margin: 13px 0 0 0;
        padding: 10px; 
        border-radius: 5px;
        border: solid 1px #cbc9c9; 
        box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
        background: #fff; 
    }
    select {
        width: calc(100% - 52px);
        height: 39px;
        margin: 13px 0 0 -5px;
        padding-left: 10px; 
        border-radius: 0 5px 5px 0;
        border: solid 1px #cbc9c9; 
        box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
        background: #fff; 
      
    }
    
    input[type=text], input[type=password]{
        width: calc(100% - 57px);
        height: 36px;
        margin: 13px 0 0 -5px;
        padding-left: 10px; 
        border-radius: 0 5px 5px 0;
        border: solid 1px #cbc9c9; 
        box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
        background: #fff;   
    }
    input[type=password] {
    margin-bottom: 15px;
    }
    #icon {
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #1c87c9;
    color: #fff;
    text-align: center;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    }
    button:hover {
    background: #26a9e0;
    }

    div.message{
        color:black;
    }
    table{
        border-collapse: collapse;
    }
    td,th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
    tr:nth-child(even){background-color: #fafafa;}
      
    tr:hover {background-color: #ddd;}
      
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      }
    .person{
        cursor:pointer;
    }  
    #photo{
        display: block;
        margin-left: auto;
        margin-right: auto;  
    }

    .photo{
        margin-left:2rem;
        font-size: x-large;
    }

    a:link    {color: blue;  text-decoration: none;}
    a:visited {color: blue;  text-decoration: none;}
    a:hover   {color: green; text-decoration: underline;}
    a:active  {color: blue;  text-decoration: none;}